@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #181616;
	--color-bg-1: #1b1b1b;
	--color-theme-1: #FFAA33;
	--color-theme-2: #c04f26;
	--color-text-1: rgba(255, 245, 238, 0.8);
	--color-text-2: #fff5ee;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--gradient: linear-gradient(90deg, var(--color-theme-1), #d3653d, var(--color-theme-1));
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}

h1 {
	font-size: 60px;
    margin-bottom: 10px;
}

h1 {
	font-weight: bold;
	background: -webkit-linear-gradient(20deg, #FFAA33, #c04f26);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-2);
	text-decoration: none;
	transition: all 0.4 ease;
}

a:is(:focus, :hover) {
	color: var(--color-theme-1);
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text-1);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
